@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

/* theme */
:root {
  font-size: 16px;
  --main-color: #ffb400;
  --font-color: #fff;
  --main-bg: #111;
  --nav-color: #2b2a2a;
  --border-color: #252525;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--main-bg);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
i {
  color: var(--font-color);
}

/* header */
/*** Navigation ***/

.header {
  position: fixed;
  right: 30px;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  height: calc(100vh - 200px);
  top: 100px;
  opacity: 1;
  transition: opacity 0.3s;
}

.header.hide-header {
  z-index: 0 !important;
  opacity: 0;
}

.header__links {
  margin: 0;
  padding: 0;
}

.header__item {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin: 20px 0;
  border-radius: 50%;
  background: var(--nav-color);
}

.header__item.active .header__icon,
.header__iteem:hover .header__icon {
  color: var(--font-color);
}
.header__item.active,
.header__item:hover {
  color: var(--font-color);
  background: var(--main-color);
}

.header__label {
  font-size: 1rem;
  font-weight: 500;
  background: var(--main-color);
}

.header__link {
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;
}

.header__icon.fa {
  position: absolute;
  pointer-events: none;
}

.header__icon {
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  top: 15px;
  color: #fff;
  font-size: 1.1rem;
  transition: 0.3s;
}

.header__label {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  color: #fff;
  line-height: 50px;
  font-weight: 600;
  transition: all 0.3s;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 25px 0 30px;
  height: 50px;
  font-size: 1rem;
}

.header__link:hover .header__label {
  opacity: 1;
  right: 27px;
  margin: 0;
  text-align: center;
  border-radius: 30px 0 0 30px;
}
/*  */

/* header */

/* home */
.aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--main-color);
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 12% 0, 35% 100%, 0% 100%);
}
.home {
  width: calc(100% - 100px);
  min-height: 100vh;
  color: var(--font-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.home__image {
  position: fixed;
  top: 40px;
  left: 40px;
  background-image: url("../image/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100% - 80px);
  width: 33%;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}
.home__about {
  margin-left: 40%;
  padding: 20px;
  padding-left: 50px;
}
.home__title {
  position: relative;
  font-size: 51px;
  line-height: 62px;
  font-weight: 700;
  margin: 18px 0 10px;
  padding-left: 50px;
}
.home__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 29px;
  height: 4px;
  width: 40px;
  border-radius: 10px;
  background: var(--main-color);
}
.home__title-sub {
  color: var(--main-color);
}
.home__text {
  margin: 15px 0 28px;
  font-size: 16px;
  line-height: 35px;
}
#typed__target {
  font-size: 2rem;
  font-weight: 500;
}
.home .typed-cursor {
  font-weight: 100;
  color: #ddd;
  border-radius: 10px;
}
.home__link {
  background: none;
  border: 1px solid var(--font-color);
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
  padding: 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  position: relative;
  overflow: hidden;
}
.home__link:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.home__link:hover .home__icon {
  color: var(--main-color);
}
.home__icon {
  margin-left: 1rem;
  transition: all 0.3s ease;
}
.home__link:active {
  transform: scale(0.9, 0.9);
}

/* ABOUT  */
.about__top {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
  text-align: center;
  overflow: hidden;
}
.about__top__span {
  font-size: 110px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 80px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.07);
}
.about__top__title span {
  color: var(--main-color);
}
.about__top__title {
  font-size: 56px;
  font-weight: 900;
  color: var(--font-color);
  text-transform: uppercase;
  margin: 0;
  position: relative;
  z-index: 2;
}
.about {
  color: var(--font-color);
}
.about__list li {
  margin-bottom: 10px;
}
.about__list .title {
  opacity: 0.8;
  text-transform: capitalize;
}
.about__list .value {
  color: var(--font-color);
  font-weight: 600;
  text-transform: capitalize;
}
.about__box {
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-bottom: 30px;
}
.about__box h3 {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: bold;
}
.about__box p {
  font-size: 1rem;
  position: relative;
  padding-left: 35px;
}
.about__box p::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -2%;
  width: 30px;
  height: 2px;
  background: var(--main-color);
}
/*  */
.skills {
  padding: 50px 0;
  color: var(--font-color);
  width: 90%;
  margin: auto;
}
.skills i {
  font-size: 4rem;
  padding: 20px 0;
}

/*  */

.timeline {
  padding: 50px 0;
  overflow: auto;
  min-height: 100%;
}
.timeline-container {
  overflow: hidden;
  position: relative;
}
.timeline__title {
  margin: 50px 0;
  color: var(--font-color);
  position: relative;
}
.timeline__label {
  font-size: 0.8rem;
  opacity: 0.8;
}
.timeline__title::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 50%;
  background: var(--border-color);
  width: 30%;
  height: 1px;
  transform: translate(-50%, 0);
  display: inline-block;
}
.timeline-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  margin-left: -1px;
  background: var(--border-color);
}
.timeline__year {
  width: 50px;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  background: var(--border-color);
  text-align: center;
  color: var(--main-color);
  border-radius: 4px;
  font-weight: 600;
  padding: 2px 5px;
}
.timeline__left,
.timeline__right {
  width: calc(50% - 30px);
  border: 1px solid var(--border-color);
  margin-bottom: 40px;
  position: relative;
  border-radius: 4px;
}
.timeline__left {
  float: left;
}
.timeline__right {
  float: right;
}
.timeline__content {
  padding: 20px;
  color: var(--font-color);
}
.timeline__content h2 {
  font-size: 18px;
  margin: 7px 0 10px;
}

.timeline__content p {
  margin: 0;
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.5;
}
.timeline__left::before,
.timeline__right::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  background: var(--main-color);
}
.timeline__left::before {
  right: -38px;
}
.timeline__right::before {
  left: -38px;
}

.timeline__left::after,
.timeline__right::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent var(--border-color);
  border-style: solid;
  border-width: 10px;
}
.timeline__left::after {
  right: -20px;
}
.timeline__right::after {
  left: -20px;
  border-color: transparent var(--border-color) transparent transparent;
}

/* Portfolio */
.slideshow li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--border-color);
  z-index: -1;
  transition: opacity 0.3s;
}

.grid figure {
  position: relative;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid figure p {
  position: absolute;
  z-index: 3;
  color: var(--font-color);
  font-size: 30px;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.grid figure:hover p {
  opacity: 1;
}
.grid figure span {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--main-color);
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.grid figure:hover span {
  width: 1000px;
  height: 1000px;
}
.grid {
  margin: auto;
  text-align: center;
}
.grid li {
  transition: all 0.3s ease;
  width: 33%;
}
.grid-gallery figure img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}
.slideshow figure {
  color: var(--font-color);
  background: var(--border-color);
  border: 50px solid var(--border-color);
  border-radius: 15px;
}
.slideshow figcaption h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: var(--main-color);
}
.slideshow i {
  padding-right: 5px;
}
.slideshow .preview {
  color: var(--main-color);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--main-color);
}

/* loading */
/*  pre load*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;

  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);

  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);

  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;

  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  transform: translateY(-100%);

  transition: all 0.3s 1s ease-out;
}

#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}
/*  */
.contact {
  color: var(--font-color);
}
.contact .custom-span-contact i {
  color: var(--main-color);
}
.contact p {
  font-size: 14px;
  opacity: 0.8;
}
.contact .custom-span-contact {
  font-weight: 600;
  padding-left: 50px;
  line-height: 21px;
  padding-top: 5px;
}
.contact .custom-span-contact i {
  left: 0;
  top: 10px;
  font-size: 33px;
}
.contact ul.social li {
  display: inline-block;
}
.contact ul.social {
  margin: 20px 0 30px 0;
}
.contact ul.social li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 42px;
  text-align: center;
  color: var(--font-color);
  transition: 0.3s;
  font-size: 17px;
  margin: 0 6px;
  background: var(--nav-color);
  border-radius: 50%;
}
.contact ul.social li:hover a {
  background: var(--main-color);
}
.contact .contactform input[type="text"],
.contact .contactform input[type="email"] {
  border: 1px solid var(--main-bg);
  width: 100%;
  background: var(--border-color);
  color: var(--font-color);
  padding: 11px 26px;
  margin-bottom: 30px;
  border-radius: 5px;
  outline: none !important;
  transition: 0.3s;
}
.contact .contactform textarea {
  border: 1px solid var(--main-bg);
  background: var(--border-color);
  color: var(--font-color);
  width: 100%;
  padding: 12px 26px;
  margin-bottom: 20px;
  height: 160px;
  overflow: hidden;
  border-radius: 5px;
  outline: none !important;
  transition: 0.3s;
}
.contact input:focus,
.contact textarea:focus {
  border: 1px solid var(--main-color) !important;
}
/* blog */

/* switcher */
.switcher,
.switcher-icon {
  position: fixed;
  top: 40%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 5;
  transition: all 0.5s ease;
}
.switcher__content {
  color: var(--main-bg);
  background: var(--font-color);
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  flex-wrap: wrap;
}
.switcher__content h4 {
  width: 80%;
  border-bottom: 1px solid var(--main-bg);
  padding-bottom: 10px;
  font-weight: 600;
  color: var(--main-color);
}
#hideSwitcher {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 30px;
  margin-top: -5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
#hideSwitcher:hover {
  border: 1px dashed var(--main-bg);
}
.switcher__content h4 {
  font-size: 16px;
}
.switcher__color {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.switcher__color span {
  width: 30px;
  height: 30px;
  background: var(--main-bg);
  margin: 5px;
  display: inline-block;
  cursor: pointer;

  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}
.switcher-icon {
  background: var(--font-color);
  padding: 10px 16px 10px 14px;
  font-size: 24px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
.switcher-icon i {
  color: var(--main-bg);
}
/* light dark theme */
.switcher__content_theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.switcher__content_theme > div {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.switcher__content_theme > div h3 {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  padding: 10px 0;
  border-radius: 4px;
}

.switcher__content_theme h3.active {
  border: 2px solid var(--main-color);
}

/*  */
/* MEDIA QUERY */
@media (max-width: 992px) {
  /* header */
  .navbar {
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 4;
    user-select: none;
    padding: 19px 0 0 16px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    background: var(--border-color);
  }

  .navbar input {
    display: flex;
    width: 54px;
    height: 54px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .navbar > span {
    display: flex;
    width: 23px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .navbar > span:first-child {
    transform-origin: 0 0;
  }

  .navbar > span:nth-last-child(2) {
    transform-origin: 0 100%;
  }

  .navbar input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(4px, 0);
    background: var(--font-color);
  }

  .navbar input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .navbar input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, 4px);
  }

  .navbar__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 60px;
    background-color: var(--border-color);
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-left: -100px;

    overflow-x: hidden;
    z-index: 4;
  }

  .navbar input:checked ~ ul {
    transform: none;
  }

  .navbar__item {
    position: relative;
    width: 80%;
    margin-left: 200px;
  }

  .navbar__item.active a span {
    font-weight: 600;
  }

  .navbar__item a {
    color: var(--font-color);
    text-transform: uppercase;
    transition-delay: 2s;
    font-size: 1.5rem;
    display: inline-block;
    padding: 14px 0;
    position: relative;
    width: 100%;
  }
  .navbar__item a span {
    position: absolute;
    left: 50px;
    font-weight: 400;
  }
  .navbar__item:hover a span,
  .navbar__item:hover a i {
    color: var(--main-color);
  }

  /* Home */

  .aside {
    display: none;
  }

  .home {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .home__image {
    position: relative;

    background-image: url("../image/2.jpg");
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 3px solid var(--nav-color);
  }
  .home__about {
    text-align: center;
    margin: 1rem auto;
    width: 90%;
  }
  .home__title {
    padding-left: 0;
  }
  .home__title::before {
    display: none;
  }
  .home__text {
    padding: 0 2rem;
  }
  /* about timeline */
  /*  */
  .timeline-container {
    overflow: visible;
  }
  .timeline-container::before {
    left: 0;
  }
  .timeline__year {
    margin: 20px 0;
  }
  .timeline__left,
  .timeline__right {
    width: 80%;
    margin-left: 30px;
  }
  .timeline__left {
    float: left;
  }
  .timeline__right {
    float: left;
  }

  .timeline__left::before {
    left: -38px;
  }
  .timeline__left::after {
    left: -20px;
  }
  .timeline__left::after {
    left: -20px;
    border-color: transparent var(--border-color) transparent transparent;
  }
  /* porto */
  .grid li {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  /* .grid_view__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  } */


  .switcher-icon {
    opacity: 0.5;
  }
}

@media (max-width: 576px) {
  /* home */
  .home__image {
    display: none;
  }
  .home {
    align-items: flex-start;
  }
  .home__about {
    text-align: left;
    margin: 0;
    padding-left: 30px;
  }
  .home__title {
    font-size: 2rem;
  }
  .home__text {
    padding: 0;
    font-size: 0.9rem;
  }
  #typed__target {
    font-size: 1.5rem;
  }
  .home__link {
    padding: 10px 24px;
    font-size: 1rem;
  }

  /* About */
  .about__box {
    text-align: center;
  }
  .about__box h3,
  .about__box p {
    display: inline-block;
  }
  .about__box p {
    padding-left: 40px;
  }
  .about__box p::before {
    display: none;
  }
  /* fixed sub navbar  */
  body {
    padding-top: 100px;
  }
  .about__top {
    padding: 16px 25px 14px;
    background: var(--border-color);
    border-bottom: 1px solid #333;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
    top: 0;
    transition: all 0.3s ease;
  }
  .about__top__span {
    display: none;
  }
  .about__top__title {
    font-size: 1.5rem;
    text-align: left;
  }
  .navbar {
    top: 3px;
    z-index: 3;
  }

  /* porto */
  .grid li {
    width: 100%;
  }
}
